@font-face {
    font-family: 'Zycon';
    src: url('fonts/Zycon.woff2');
}

p {
    font-family: Zycon;
    font-size: 15em;
    color: rgb(0, 0, 0);
    font-variation-settings: "T1  " 1,
        "T2  " 1,
        "T3  " 1,
        "T4  " 1,
        "M1  " 0.19091,
        "M2  " -1;
    /*transition: alfont-variation-settingsl 1s ease;*/
    transition: background 3s ease;
}

p:hover {
    transition: background 3s ease;
    font-variation-settings: "T1  " 1,
        "T2  " 0,
        "T3  " 1,
        "T4  " 1,
        "M1  " 0.19091,
        "M2  " -1;
    background: lightblue;
}