:root {
    --pulse-color-page-background: #ebfaf0;
    --pulse-color-card-background: #d6dae5;
    --pulse-color-faq-background: #fcfcfc;
    --pulse-color-headings: #00ad6a;
    --pulse-color-headings-rgb: 0, 173, 106;
    --pulse-color-buttons: #1fe374;
    --pulse-color-dark: #080c16;
    --pulse-color-dark-rgb: 8, 12, 22;
    --pulse-color-h2: #707070;

    --bs-success: var(--pulse-color-headings);
    --bs-success-rgb: var(--pulse-color-headings-rgb);
    --bs-black-rgb: var(--pulse-color-dark-rgb);
    --bs-info-bg-subtle: var(--pulse-color-page-background);
    --bs-tertiary-color: var(--pulse-color-h2);
}